.App {
  text-align: center;
  height: 100px;
}




.App-header {
  background-color: blue;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
 
}


.App-header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  width: 100%;
}

.App-link {
  color:white;
}

.center-content{
  width: 70vh;
  border-bottom:gray solid 1.5px;
  margin:10px 10px;


}

.allList{

  padding: 10px;
  border:gray solid 1.5px;
  width: 70vh;

  height: 70vh;
  overflow: scroll;
  margin-left: 50px;

}

